{% load static %}
<!doctype html>
<html lang="es" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block titulo %}
        {% endblock titulo %}
    </title>
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/main.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock css %}
</head>

<body>
    
    {% block navbar %}
        {% include 'padre/navbar.html' %}
    {% endblock navbar %}

    {% block contenido %}
    {% endblock contenido %}

    {% block footer %}
        {% include 'padre/footer.html' %}
    {% endblock footer %}

    <script src="{% static 'dist/js/bootstrap.bundle.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    {% block js %}
    {% endblock js %}
    {% load sweetify %}
    {% sweetify %}


    
</body>

</html>